<app-page-header [title]="title()" subtitle="Enter record details" />

<form class="entity-form" [formGroup]="form" (ngSubmit)="submit()">
  @for (field of fields(); track field.key) {
    @if (field.type === 'file') {
      <div class="span-2">
        <app-file-upload-preview [label]="field.label" />
      </div>
    } @else if (field.type === 'select') {
      <mat-form-field>
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.key">
          @for (option of field.options ?? []; track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    } @else {
      <mat-form-field>
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [type]="field.type" [formControlName]="field.key" />
        @if (form.controls[field.key].touched && form.controls[field.key].invalid) {
          <mat-error>
            @if (form.controls[field.key].hasError('minlength') || form.controls[field.key].hasError('maxlength')) {
              {{ field.label }} must be {{ field.minLength }} characters
            } @else {
              {{ field.label }} is required
            }
          </mat-error>
        }
      </mat-form-field>
    }
  }
  <div class="span-2 form-actions">
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
