<app-page-header title="Change Password" subtitle="Keep your account secure" />
<form class="entity-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Current password</mat-label>
    <input matInput type="password" formControlName="currentPassword" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>New password</mat-label>
    <input matInput type="password" formControlName="newPassword" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">Update Password</button>
</form>
