.btn-loading {
  color: transparent !important;
  
  .spinner-border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

:host {
  display: inline-block;
  
  &.full-width {
    display: block;
  }
}