<mat-sidenav 
  [mode]="'side'" 
  [opened]="opened" 
  class="sidebar"
  fixedInViewport
  fixedTopGap="64">
  
  <div class="sidebar-content">
    <mat-nav-list>
      @for (item of menuItems; track item.label) {
        @if (item.children) {
          <mat-expansion-panel class="sidebar-expansion">
            <mat-expansion-panel-header>
              <mat-panel-title class="d-flex align-items-center gap-3">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-nav-list>
              @for (child of item.children; track child.label) {
                <a mat-list-item 
                   [routerLink]="child.route"
                   routerLinkActive="active"
                   class="sidebar-child-item">
                  <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
                  <span matListItemTitle>{{ child.label }}</span>
                </a>
              }
            </mat-nav-list>
          </mat-expansion-panel>
        } @else {
          <a mat-list-item 
             [routerLink]="item.route"
             routerLinkActive="active"
             class="sidebar-item">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      }
    </mat-nav-list>
  </div>
</mat-sidenav>